body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
    margin: 1px;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}

ul > a, ul > img {
    padding: 0 8px;
}

header-img {
    color: gray;
}

.header-img:hover {
    box-shadow: 0 0 10px gainsboro;
    border-radius: 50%;
    cursor: pointer;
}

.header-button {
    border: none;
    background-color: rgb(43, 125, 233);
    border-radius: 4px;
    padding: 9px 23px;
    }

.header-button.button:hover {
    box-shadow: rgba(66, 133, 244, 0.3) 0px 1px 2px 0px, rgba(66, 133, 244, 0.15) 0px 1px 3px 0px;
    opacity: 2; 
    }



.header-button > a {
    color:white;
    text-align: center;
}

button > a:hover {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    margin-top: 22vh;
}

.main-img {
    display: flex;
    align-items: center;
}

.my-input-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 38px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin-top: 20px;
}

.my-input-container:hover {
    box-shadow: 0 0 10px 0 gainsboro;
}

.my-input-container > input {
    flex-grow: 1;
    border: none;
    outline: none;

    
}

.my-button-container {
    padding-top: 53px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px gainsboro;
    
}

.button {
    background-color: #f8f9fa;
    color: #3c4043;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    min-width: 54px;
    height: 36px;
    line-height: 27px;
    padding: 0 16px;
    margin: 0 4px;
    text-align: center;
}

footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 200vh;
}

#footer-left {
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;
}

#footer-right {
    display: flex;
    justify-content: end;
    margin-left: 20px;
    align-items: center;
}

@media (max-width: 630px){

    #footer-nav {
        flex-direction: column;
    }

    #footer-left {
        justify-content: center;
    }

    footer-right {
        justify-content: center;
    }

    .my-input-container {
        width: 95vh;
    }
}

@media (max-width:522px){
    body {
        overflow: hidden;
    }

    main {
        margin-bottom: 20px;
    }

    footer {
        position: relative;
    }
}

@media (max-height:570px) and (max-width: 630px){
    body {
        overflow: hidden;
    }

    main {
        margin-bottom: 13px;
    }

    footer {
        position: relative;
    }
}







